
<app-header></app-header>

<ngb-alert #selfClosingAlert *ngIf="successMessage" type="success" (closed)="successMessage = ''">{{ successMessage }}
</ngb-alert>

<div class="card" style="width: auto;">
    <div class="card-body">
      <h5 class="card-title">{{movieDetail.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted text-uppercase font-italic">{{movieDetail.genre}}</h6>
      <p class="card-text">{{movieDetail.description}}</p>


      <p class="card-text" *ngIf="movieDetail.watchlist == false; else elseBlock">
        <button type="button" class="btn btn-dark btn-rounded" (click)="addWatchList(movieDetail)">Add to watchlist</button>
      </p>
      <ng-template #elseBlock>
        <p class="card-text">
          <button type="button" class="btn btn-dark btn-rounded">Watchlist</button>
        </p>
      </ng-template>
    </div>
  </div>