<div *ngIf="watchList.name == ''; then thenBlock else elseBlock"></div>


<ng-template #thenBlock>
    <a class="list-group-item list-group-item-action" routerLink="/index/movies/{{ movieItem._id }}">
        {{ movieItem.name }}
    </a>
</ng-template>


<ng-template #elseBlock>
    <div class="list-group-item list-group-item-action">
        <button type="button" class="btn btn-danger btn btn-primary btn-floating me-2" 
        (click)="removeMovieWatchList(movieItem)"><b>X</b>
        </button>
        <a class="alert-link" class="mx-auto"  routerLink="/index/movies/{{ movieItem._id }}">
            {{ movieItem.name }}
        </a>
    </div>
</ng-template>
