<app-header></app-header>


<form>
    <fieldset class="mt-0">
      <div class="form-group"  class="p-2 bg-light border">
        <label class="mt-2">Movie Name</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">

        <label class="mt-2">Genre</label>
        <select class="form-control">
          <option>Disabled 1</option>
          <option>Disabled 2</option>
          <option>Disabled 3</option>
        </select>
      
        <label class="mt-2">Length</label>
        <select class="form-control">
          <option>Disabled 1</option>
          <option>Disabled 2</option>
          <option>Disabled 3</option>
        </select>

        <label class="mt-2">Rating</label>
        <select class="form-control">
          <option>Disabled 1</option>
          <option>Disabled 2</option>
          <option>Disabled 3</option>
        </select>

        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </div>


    </fieldset>

    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
  </form>


  

<!-- 
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Genre</th>
        <th scope="col">Length</th>
        <th scope="col">Rating</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Larry</td>
      </tr>
    </tbody>
  </table> -->