<app-header></app-header>


<form (ngSubmit)="searchMovie()">

    <fieldset class="mt-0">
      <div class="form-group"  class="p-2 bg-light border">
        <label class="mt-2">Movie Name</label>
        <input type="text" name="name" class="form-control" placeholder="Movie name..." [(ngModel)]="searchBy.name">

        <label class="mt-2">Genre</label>
        <select class="form-control" name="genre" [(ngModel)]="searchBy.genre">
        <option value='' disabled selected>Select the Genre</option>
          <option value="comedy">comedy</option>
          <option value="western">western</option>
          <option value="drama">drama</option>
        </select>
      
        <label class="mt-2">Length</label>
        <select class="form-control" name="movieLength" [(ngModel)]="searchBy.movieLength">
          <option value='' disabled selected>Select the Length</option>
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
        </select>

        <label class="mt-2">Rating</label>
        <select class="form-control" name="rating" [(ngModel)]="searchBy.rating">
          <option value='' disabled selected>Select the Rating</option>
          <option value=5>5</option>
          <option value=6>6</option>
          <option value=7>7</option>
          <option value=8>8</option>
          <option value=9>9</option>
        </select>

        <button type="submit" class="btn btn-primary mt-2">Search</button>
      </div>


    </fieldset>
  </form>


<div *ngIf="searchResult.length > 0; then thenBlock else elseBlock"></div>

        
                


  <ng-template #elseBlock>
    <table class="table mt-5">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Genre</th>
            <th scope="col">Length</th>
            <th scope="col">Rating</th>

        </tr>
        </thead>
        <tbody *ngFor="let movie of movies; index as i">
        <tr>
            <!-- <app-movie-item [movieItem]="movie"></app-movie-item> -->
            <th scope="row">{{i + 1}}</th>
            <td>{{movie.name}}</td>
            <td>{{movie.genre}}</td>
            <td>{{movie.movieLength}}</td>
            <td>{{movie.rating}}</td>
            
        </tr>
        </tbody>
    </table>
</ng-template>



<ng-template #thenBlock>
    <table class="table mt-5">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Genre</th>
            <th scope="col">Length</th>
            <th scope="col">Rating</th>

        </tr>
        </thead>
        <tbody *ngFor="let search of searchResult; index as i">
        <tr>
            <!-- <app-movie-item [movieItem]="movie"></app-movie-item> -->
            <th scope="row">{{i + 1}}</th>
            <!-- <td>{{search.name}}</td> -->
                <a class="list-group-item" routerLink="/index/movies/{{ search._id }}">
                    {{ search.name }}
                </a>
            
            <td>{{search.genre}}</td>
            <td>{{search.movieLength}}</td>
            <td>{{search.rating}}</td>
            
        </tr>
        </tbody>
    </table>
</ng-template>